<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletProgram</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LifeCycle</display-name>
    <servlet-name>LifeCycle</servlet-name>
    <servlet-class>com.LifeCycle.LifeCycle</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycle</servlet-name>
    <url-pattern>/LifeCycleMethods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoGetTest</display-name>
    <servlet-name>DoGetTest</servlet-name>
    <servlet-class>com.LifeCycle.DoGetTest</servlet-class>
    <init-param>
      <param-name>jdbcURL</param-name>
      <param-value>url:Jdbc</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>rabin</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoGetTest</servlet-name>
    <url-pattern>/DoGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoPostTest</display-name>
    <servlet-name>DoPostTest</servlet-name>
    <servlet-class>com.LifeCycle.DoPostTest</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoPostTest</servlet-name>
    <url-pattern>/DoPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenericServletTest</display-name>
    <servlet-name>GenericServletTest</servlet-name>
    <servlet-class>com.Web.GenericServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServletTest</servlet-name>
    <url-pattern>/GenericServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInterface</display-name>
    <servlet-name>ServletInterface</servlet-name>
    <servlet-class>com.Web.ServletInterface</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInterface</servlet-name>
    <url-pattern>/servletInt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestCookie</display-name>
    <servlet-name>TestCookie</servlet-name>
    <servlet-class>com.Cookies.TestCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCookie</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
</web-app>